*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.container{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}

#form-contato{
    display:block;
    max-width:600px;
    width: 60%;
    background-color: #333333;
    margin: 20px;
    padding: 25px;
}

label, input, textarea, button{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: #000;
    width: 90%;
    margin:10px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
}
input, textarea {
    color: #333333;
}

button{
    background-color: lightskyblue;
    font-size: 20px;
    font-weight: bold;

}

aside{
    width: 40%;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus{
    outline: 5px;
    outline-color:  #5555ff;    
    cursor: pointer;    
}

button {
    display: block;
    padding: 1rem;
    background: #0072c4;
    color: #fff;    
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
  }

button:hover,
button:focus {
  outline: none;
  background: #09d;
}
